<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B-Productive | <%= list.name %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/app.js"></script>
    <script src="https://kit.fontawesome.com/fc711cb7a6.js" crossorigin="anonymous"></script>

</head>
<body>
  <%- include('partials/header') %>

    <main>
        <h1><%= list.name %></h1>
        <section class="createSection">
            <form action="/app/list/<%= list.id %>/task/new-task" id="newList" method="post">
                <input type="text" placeholder="Adicionar nova tarefa..." name="taskname">
                <button> + Create a task</button>
            </form>
        </section>
        <ul>
            <% if( list.tasks._tasks.length != 0 ) {%>
                <% list.tasks._tasks.forEach( item => { %>
                    <li id="task-<%=item.id%>">
                        <div class="buttons-div">

                            <% if (item.complete != true) {%>
                                    <form action="/app/list/<%= list.id %>/task/<%= item.id %>/complete" method="post" class="listItem">
                                        <button type="submit" id="task-<%= item.id %>" class="listname">
                                            <%= item.name %>
                                        </button>
                                    </form>

                                    <form action="/app/list/<%= list.id %>/task/<%= item.id %>/delete" method="post" class="listItemDelete">
                                        <button class="delete" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                    
                                <% } else {%>
                                    <form action="/app/list/<%= list.id %>/task/<%= item.id %>/complete" method="post" class="listItem">
                                        <button type="submit" id="task-<%= item.id %>" class="listname taskname taskComplete">
                                            <%= item.name %>
                                        </button>
                                    </form>

                                    <form action="/app/list/<%= list.id %>/task/<%= item.id %>/delete" method="post" class="listItemDelete">
                                        <button class="delete taskComplete" type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                            <% } %>
                        </div>
                    </li>
                <% }) %>
            <% }%>
        </ul>
    </main>
    
</body>
</html>